html {
    overflow-x: hidden;
}

.header {
    height: auto;
    width: 100%;
    border: 1px solid #333;
}

.row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.logo {
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: justify-all;
    font-family: 'Source Sans Pro', sans-serif;
}

.header_btn_wrap_block {
    height: 100%;
    margin-top: 6%;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    align-items: baseline;
}
.btnStyle {
    height: 30%;
    width: 60%;
    margin-right: 5%;
    color: #333;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #333;
    background-color: white;
}

.headerBtn {
    height: 60px;
    width: 220px;
    padding: 5%;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    background-color: white;
    border: none;
}

.header_btn {
    height: 70px;
    width: 170px;
    font-size: 17px;
    border: none;
    outline: none;
    color: white;
    background-color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

.working_hours {
    width: 20%;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    font-size: 23px;
}

.working_hours_img {
    padding-top: 10%;
    margin: 5%;
}

.contact_us {
    display: flex;
    justify-content: start;
    flex-direction: column;
    font-size: 19px;
}

.contact_us_wrap {
    display: flex;
    align-content: baseline;
    flex-direction: column;
    width: 18rem;
    margin-bottom: 3%;
    color: #333;
}

.phone_link, .phone_link:active, .phone_link:hover, .phone_link:checked {
    padding: 2%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    border: 1px solid #333;
    color: #333;
}

.working_hours_icon, .contact_us_icon {
    height: 1.5rem;
    width: 1.5rem;
}

.phone_number_style {
    text-align: center;
}

.quality_icon {
    height: 1.9rem;
    width: 1.9rem;
    align-self: start;
    margin-left: 40%;
}

.qualityCircle {
    width: 8.2rem;
    height: 8.2rem;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-size: cover;
    background-image: url(../img/circle.png);
    color: white;
}

.main {
    height: 70%;
    width: 100%;
    margin-bottom: 3%;
    background: #ffffff url(../img/marbleFont.png) 0 0 no-repeat;
    background-size: 100%;
}

.main_form {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form {
    margin: 5%;
    height: 31rem;
    width: 25rem;
    padding: 3% 5%;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
}

.form h2 {
    margin-bottom: 3rem;
    font-size: 22px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #333333;
    line-height: 1;
}

.form h2 span {
    font-size: 24px;
    text-transform: uppercase;
}

.form_input {
    height: 3.3rem;
    width: 90%;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
}

.form_input::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input::-moz-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:-moz-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:-ms-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.5rem;
}

.form_input:focus::-webkit-input-placeholder {
    color: transparent;
}

.form_input:focus::-moz-placeholder {
    color: transparent;
}

.form_input:focus:-moz-placeholder {
    color: transparent;
}

.form_input:focus:-ms-input-placeholder {
    color: transparent;
}

.form_notice {
    margin-top: 15%;
    /*margin-bottom: 2rem;*/
    font-size: 1.1rem;
    color: #666;
}

.btn_of_Fence {
    height: 15%;
    width: 40%;
    margin-left: 7rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    outline: none;
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(253, 109, 0);
    background: linear-gradient(0deg, rgba(253, 109, 0, 1) 0%, rgba(255, 213, 0, 1) 80%);
}

main h1 {
    width: 70%;
    font-size: 35px;
    margin: 7%;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.qualityRow {
    display: flex;
    flex-direction: row;
    padding: 5%;
}

.main_features {
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.button_h {
    display: flex;
    justify-content: center;
    align-self: center;
}
/*sign up style*/
/*sign up style*/
/*sign up style*/
/*sign up style*/