html{
    overflow: hidden;
}
.auth-form {
    width: 500px;
    margin: 0 auto;
    border: none;
}

body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.auth-form {
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.prevent-resize {
    resize: none;
}

.form-control {
    border: 1px solid #333;
    border-radius: 0%;
}

.form-control:hover,
.form-control:active,
.form-control:focus {
    border: 1px solid #a7a5a5;
    box-shadow: none;
}
.text-center,h1{
    user-select: none;
}
.noAllowedDownload{
    display: none;
    /*color: red;*/
    font-size: 12px;
}

/**/
/**/
/**/
html {
    overflow-x: hidden;
}
.header {
    height: auto;
    width: 100%;
    border: 1px solid #333;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.mainPageBtn {
    height: 50px;
    width: 170px;
    margin-top: 10%;
    padding: 5%;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    background-color: black;
    border: none;
}
.btnStyle {
    height: 30%;
    width: 60%;
    margin-right: 5%;
    color: #333;
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    border: 1px solid #333;
    background-color: white;
}
.header_btn_wrap_block {
    height: 100%;
    /*margin-top: 6%;*/
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    align-content: baseline;
    align-items: baseline;
}
.logo{
    margin-right: 20%;
    display: flex;
    flex-direction: row;
}
.logo>p{
    font-size: 18px;
    text-align: center;
    align-self: center;
}
.logo_img img{
    height: 90px;
}
.btnSubmit{
    width: 250px;
    margin-left: 20%;
    padding: 5%;
    font-size: 19px;
    border: none;
    color: white;
    background-color: black;
    font-family: 'Source Sans Pro', sans-serif;

}